@keyframes backgroundScroll {
    from {background-position: 0 0 ;}
    to {background-position: 0 100%;}
}

.App {
  text-align: center;
  background-image: url('../src/assets/clearWave.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 35%;
}

/* Landing */

#Landing {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: auto;
  background-image: url('../src/assets/nav-image.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: backgroundScroll 15s linear infinite;
  animation: backgroundScroll 15s linear infinite;
}

.landingDiv {
  color: black;
  margin: auto;
  text-align: center;
}

/* Navbar */

#Nav {
  border-bottom: 3px solid rgba(96, 141, 199, 0.863);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 5;
}

.navLink {
  font-size: 30px;
  color: black;
  margin-bottom: 2%;
}

.navLink:hover {
  font-size: 32px;
  cursor: pointer;
}

.homeTitle {
  font-size: 40px;
  font-weight: lighter;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px rgb(67, 190, 228);
  font-family: sans-serif;
}

/* Home */

#homePage {
  text-align: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  border: 2px solid black;
  width: fit-content;
  padding: 10px;
  margin: 5% 5% 5% 5%;
}

.twoCards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.bigCard {
  background-color: rgba(255, 255, 255);
  border: 2px solid black;
  width: 80%;
  padding: 20px;
  margin: 4% auto 4% auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.miniTitle {
  color: rgba(88, 160, 255, 0.863);
  font-size: 80px;
  text-shadow: 2px 2px black;
  font-family: sans-serif;
  margin: 3%;
}

#allWorkDone {
  margin-top: 15%;
  background-color: white;
  padding-bottom: 3%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.workDone {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.project {
  margin-top: 30px;
  margin: 2% 2% 2% 2%;
  background-color: rgba(88, 160, 255, 0.363);;
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
}
