.App {
  text-align: center;
}

/* Navbar */

.Nav {
  background-color: rgba(140, 228, 255, 0.663);
  height: 70px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.navButton {
  background-color: rgba(88, 160, 255, 0.863);
  border-radius: 20px;
  border-style: solid;
}

.navButton:hover {
  cursor: pointer;
}

.swellyLogo {
  height: 50px;
  width: 50px;
  margin-left: 10px;
}

.homeTitle {
  font-size: 30px;
  color: rgba(88, 160, 255, 0.863);
  text-shadow: 1px 1px rgb(31, 31, 31);
  font-family: sans-serif;
}

/* Home */

.homePage {
  text-align: center;
  background-image: url('../src/assets/clearWave.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  border: 2px solid black;
  width: fit-content;
  padding: 10px;
  margin: 0 5% 5% 5%;
}
