@keyframes backgroundScroll {
    from {background-position: 0 0 ;}
    to {background-position: 0 100%;}
}

@font-face {
  font-family: 'Raleway';
  src: URL('../src/assets/fonts/Raleway-Light.ttf') format('truetype');
}

.App {
  text-align: center;
  background-image: url('../src/assets/WaveBg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 35%;
  font-family: Raleway;
}

body {
  overflow-x: hidden;
}

/* Landing */

#Landing {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  margin: auto;
  background: rgb(176, 226, 247);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: backgroundScroll 15s linear infinite;
  animation: backgroundScroll 15s linear infinite;
}

.landingDiv {
  color: black;
  margin: auto;
  text-align: center;
}

.ocean {
  height: 5%;
  width:100%;
  position:absolute;
  bottom:-5%;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

/* Navbar */

.navLink {
  font-size: 30px;
  color: rgb(8, 176, 253);
  margin-bottom: 2%;
  list-style: none;
}

.navLink:hover {
  font-size: 32px;
  cursor: pointer;
}

.scrollspy {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  background-color: rgb(66, 66, 66);
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 5;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

.isCurrent {
  text-decoration-line: underline;
  color: rgb(226, 226, 226);
}

.homeTitle {
  font-size: 40px;
  font-weight: lighter;
  color: rgb(109, 191, 245);
  text-shadow: 2px 2px black;
}

/* Home */

#homePage {
  text-align: center;
  padding-bottom: 5%;
}

/* About */

#about {
  padding-top: 8%;
  padding-bottom: 5%;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid black;
  padding: 10px;
  margin: auto;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

.bioTitle {
  margin-bottom: 2%;
}

.techStack {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid black;
  padding: 10px;
  margin: auto;
  width: 80%;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

/* Projects */

#projects {
  margin-top: 2%;
  padding-top: 2%;
}

.bigCard {
  background-color: rgba(212, 212, 212, .95);
  border: 2px solid black;
  width: 80%;
  padding: 20px;
  margin: 4% auto 4% auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

.miniTitle {
  color: rgba(87, 140, 253, 0.863);
  font-size: 80px;
  text-shadow: 2px 2px black;
  margin: 3%;
}

.allWorkDone {
  margin-top: 5%;
  margin-bottom: 10%;
  background-color: rgba(212, 212, 212, .95);
  padding-bottom: 3%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.workDone {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.project {
  display: block;
  margin-top: 30px;
  margin: 2% 2% 2% 2%;
  background-color: rgba(88, 160, 255, 0.363);;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

.projectText {
  padding: 2%;
}

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.spaceboi {
  width: 20vw;
  height: 20vh;
  color: white;
  background-image: url('../src/assets/spaceboi.PNG');
  background-repeat: no-repeat;
  background-size: cover;
}

.alleywayEvents {
  width: 20vw;
  height: 20vh;
  color: white;
  background-image: url('../src/assets/alleywayevents.PNG');
  background-repeat: no-repeat;
  background-size: cover;
}

.joystickForums {
  width: 20vw;
  height: 20vh;
  color: white;
  background-image: url('../src/assets/joystickforums.PNG');
  background-position-x: 45%;
  background-repeat: no-repeat;
  background-size: cover;
}

.kninecs {
  width: 20vw;
  height: 20vh;
  color: white;
  background-image: url('../src/assets/kninecs.PNG');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Contact */

#contact {
  padding-top: 2%;
}

.contactCard {
  margin: auto;
  width: 50%;
  background-color: rgba(212, 212, 212, .95);
  padding: 3%;
  border-radius: 2%;
}

.contactLabel {
  font-size: 20px;
  color: black;
}

.submitButton {
  background-color: rgb(67, 164, 228) !important;
}
